/* contact.css */

/* General form styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color:wheat;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

fieldset {
    border: none;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

.mid {
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #6551c0;

}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn-div {
    text-align: center;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
