.container fieldset{
    /* background-color: black; */
    border: 3px solid black;
    margin-top: 30px;
    z-index: 1000;
    background-image: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

input,textarea{
    border: 1px solid;
    z-index: 1000;
}