.footer {
    background-color: white;
    color: black;
    padding: 40px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}
.box {
    flex: 1; 
    margin: 0 20px; 
}
.box h3 {
    color: purple;
    font-size: large;
    transition: border 0.3s ease; 
}

.box h3:hover {
    text-transform: uppercase; 
    border: 2px solid black;
}

.box a {
    color: black;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    transition: transform 0.3s ease; 
}
.box a:hover {
    transform: translateX(10px);
}